/* Css Dashboard */
.block-dashboard{
	background-color: #16876b;
}
.block-dashboard2{
	background-color: #56b4fe;
}
.block-dashboard3{
	background-color: #333333;
}
.set{
	border-radius: 4px;
	height: 150px;
	color:white;
	margin-left:20px;
	width: 335px;
}
.set>#number{
	font-size:70px;
	margin-top:23px;
	margin-left:18px;
}

.te1>#txt{
	font-size:25px;
	margin:-100px 0 0 240px;

}
.te2>#txt{
	font-size:25px;
	margin:-78px 0 0 240px;

}
.te3>#txt{
	font-size:25px;
	margin:-95px 0 0 175px;

}



/*CSS NAV*/
nav{
  background-color: #f2f2f2 !important;
}
.list-notificacao{
  min-width: 400px;
  background: #ffffff;
}

.list-notificacao li{
   border-bottom : 1px #d8d8d8 solid;
   text-align    : justify;
   padding       : 5px 10px 5px 10px;
   cursor: pointer;
}

.list-notificacao li:hover{
background: #f1eeee;
}


.list-notificacao li  p{
 color: black;
 width: 305px;
}

.list-notificacao .media img{
    width: 40px;
    height: 40px;
    float:left;
    margin-right: 10px;
}
.icon-notif{
  color: #83817e;
}
.badgeAlert {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #7dc89e;
    border-radius: 3px;
    position: absolute;
    margin-top: -29px;
    margin-left: 13px
}

.logout{
  margin-right: 20px;
  color: #83817e;
}
.logout i{
  margin: 0 10px;
}
/*ENd CSS NAV*/
/* CSS Profile sidebar */
.profile-sidebar {
  background: #fff;
  height: 800px;
  background: #001317;
}
.profile-userpic{
  background-color: #021f23;
  padding: 25px;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 100px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #fff;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #fff;
  padding-bottom: 15px;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li i{
  color: #bbbcbf;
}

.profile-usermenu ul li a {
  color: #fff;
  font-weight: 400;
  font-size:15px;
  margin-top:10px;
}

.profile-usermenu ul li a i {
  margin-right: 12px;
  font-size:25px;
}

.profile-usermenu ul li a:hover {
  background-color: #020a0c;
  color: #bbbcbf;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}
.profile-usermenu ul li#dashboard{
	margin-top:-10px;
}

.profile-usermenu ul li.active a {
  color: #fff;
  background-color: #020a0c;
  border-left: 4px solid #5b9bd1;
}

/*End CSS Profile Sidebar*/
/*CSS SEARCH*/
.cari .input-group-btn button{
  background-color: #f1f1f1;
  padding: 7px;
  border: 0;
}
.cari button i{
  color: #a2a2a2;
  margin-left: 5px;
}
.cari input{
  background-color: #f1f1f1;
  border: 0;
}
.cari input:focus{
  border: none !important;
}
.cari input::placeholder{
  color: #b8b8b8;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  height: 620px;
}
/*End Profile Content*/

/*CSS Table*/
.profile-content .panel .panel-heading{
  background-color: #cecece;
  height: 40px;
}
.profile-content .panel .panel-title{
  color: #494949;
  font-weight: 700;
  margin-left: 21px;
}
.panel{
	border:0;
}
.profile-content .btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 25px;
}
.profile-content .btn-circle.btn-lg:focus {
  color: #fff !important;
}
.profile-content .btn-create{
  margin-top: -13px;
}
.profile-content .paging select{
  width: 50%;
  margin-top: -5px;
}
.profile-content .paging .halaman{
  margin-left: -90px;
  position: absolute;
}
.profile-content .paging i{
  margin-left: 15px;
  margin-top: -5px;
  cursor: pointer;
}
/*End CSS Table*/

.sorting{
  cursor: pointer;
}

.tombol-edit{
  color: #4d8cc0;
  text-align: center;
  cursor: pointer;
}

.tombol-delete{
  color: #d62929;
  cursor: pointer;
  text-align: center;
}

[v-cloak] {
      display: none;
    }
    .edit {
      display: none;
    }
    .editing .edit {
      display: block
    }
    .editing .view {
      display: none;
    }

.z-depth-1{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-2{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}
.z-depth-4{
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}