<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test Gits</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--fontawesome-->
	<link rel="stylesheet" href="css/material-icons.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="css/mdb.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
		<div class="profile" id="app">
		<div class="col-md-2" style="margin:0 !important; padding:0 !important">
			<div class="profile-sidebar" style="height: 1120px;">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="images/user.jpg" class="img-responsive" alt="">
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							John Doe
						</div>
						<div class="profile-usertitle-job">
							<div class="dropdown">
								<a class="dropdown-toggle" style="cursor: pointer;color: #fff;" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Art Directior
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
								</ul>
							</div>					
						</div>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active" id="dashboard">
							<a href="dashboard.html">
								<i class="mdi mdi-dashboard"></i>
								Dashboard
							</a>
						</li>
						<li>
							<a href="#">
								<i class="mdi mdi-insert-chart"></i>
								Graphic
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="mdi mdi-assignment"></i>
								Form 
							</a>
						</li>
						<li class="">
							<a href="tables.html">
								<i class="fa fa-table" aria-hidden="true"></i>
								Table
							</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-10" style="margin:0 !important; padding:0 !important">
			<nav class="navbar navbar-default z-depth-1" role="navigation" style="margin: 0;border-radius: 0;border: 0;">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-envelope icon-notif" aria-hidden="true" style="font-size:20px;"></i>
							</a>
							<ul class="list-notificacao dropdown-menu">
								<li id='item_notification_1'>
									<div class="media">
										<div class="media-body">
											<h4 class="media-heading"><b>Title</b></h4>
											<p>Message Here</p>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell icon-notif" style="font-size:20px;"></i>
								<span class='badgeAlert'>5</span>
							</a>
							<ul class="list-notificacao dropdown-menu">
								<li id='item_notification_1'>
									<div class="media">
										<div class="media-left"> 
											<a href="#"> 
												<img alt="64x64" class="media-object" src="images/sample.png" data-holder-rendered="true">
											</a> 
										</div>
										<div class="media-body">
											<h4 class="media-heading"><b>Notification</b></h4>
											<p>Someone liked your post</p>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="logout">
							<a href="#"><i class="fa fa-sign-out icon-notif" aria-hidden="true" style="font-size:20px;"></i>
								Logout
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="profile-content">
				<div class="col-md-12">
					<!-- LIST USER STARTS HERE -->
					<br>
					<div class="row">
						<div class="col-md-3 block-dashboard set te1 z-depth-1">
							<p id="number">{{ loginNumber }}</p><p id="txt">Login <br>Hit</p>
						</div>
						<div class="col-md-3 block-dashboard2 set te2 z-depth-1">
							<p id="number">{{ salesNumber }}</p><p id="txt">Sales</p>
						</div>
						<div class="col-md-3 block-dashboard3 set te3 z-depth-1">
							<p id="number">{{ categoryNumber }}</p><p id="txt">Top <br>Categories</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-7">
								<div class="panel z-depth-1" style="margin-top:25px;">
								  <!-- Default panel contents -->
								  <div class="panel-heading" style="height:80px; background-color: #e0e0e0;"><h3><b>Login Hit</b> 
								<div class="btn-group" style="margin-left: 440px; margin-top: -70px;" >
									<h5>Filter Month</h5>
								  <button class="btn btn-lg dropdown-toggle" style="background-color: white; color:black;" type="button" data-toggle="dropdown">
								    6 Month <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li v-for="month in monthList"><a href="#">{{month.month}}</a></li>
								</ul>
								</div>
								  </h3> </div>
								  <div class="panel-body">
								    <canvas id="lineChart"></canvas>
								  </div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="panel z-depth-1" style="margin-top:25px;">
								  <!-- Default panel contents -->
								  <div class="panel-heading" style="height:80px; background-color: #e0e0e0;"><h3><b>Top Categories</b></h3></div>
								  <div class="panel-body">
								  	<br>
								  	<br>
								    <canvas id="doughnutChart"></canvas>
								    <br>
								    <br>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-7">
								<div class="panel z-depth-1" style="margin-top:25px;">
								  <!-- Default panel contents -->
								  <div class="panel-heading" style="height:80px; background-color: #e0e0e0;"><h3><b>Sales</b> 
								<div class="btn-group" style="margin-left: 440px; margin-top: -70px;" >
									<h5>Filter Month</h5>
								  <button class="btn btn-lg dropdown-toggle" style="background-color: white; color:black;" type="button" data-toggle="dropdown">
								    6 Month <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li v-for="month in monthList"><a href="#">{{month.month}}</a></li>
								</ul>
								</div>
								  </h3> </div>
								  <div class="panel-body">
								    <canvas id="lineChart2"></canvas>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript" src="js/mdb/jquery-3.3.1.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="js/mdb.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script>
		new Vue({
			el: '#app',
			data:{
				loginNumber: "50",
				salesNumber: "34",
				categoryNumber: "59",
				monthList:[
				{
					month: "6 month"
				},
				{
					month: "5 month"
				},
				{
					month: "4 month"
				},
				{
					month: "3 month"
				},
				{
					month: "2 month"
				},
				{
					month: "1 month"
				},
				]
				
			},
		})
	</script>
	<script>
		//line
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: ["Januari", "Februari", "Maret", "April", "Mei", "Juni"],
        datasets: [
            {
            	backgroundColor: "#54ccef",
                fillColor: "#54ccef",
                strokeColor: "#54ccef",
                pointColor: "#fff",
                pointStrokeColor: "#54ccef",
                pointHighlightFill: "#54ccef",
                pointHighlightStroke: "#54ccef",
                data: [6, 4, 3, 6, 10, 16]
            }
        ]
    },
    options: {
        responsive: true
    }    
});
		//line sales
var ctxL = document.getElementById("lineChart2").getContext('2d');
var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: ["Januari", "Februari", "Maret", "April", "Mei", "Juni"],
        datasets: [
            {
            	backgroundColor: "#54ccef",
                fillColor: "#54ccef",
                strokeColor: "#54ccef",
                pointColor: "#fff",
                pointStrokeColor: "#54ccef",
                pointHighlightFill: "#54ccef",
                pointHighlightStroke: "#54ccef",
                data: [6, 4, 3, 6, 10, 16]
            }
        ]
    },
    options: {
        responsive: true
    }    
});
//doughnut
var ctxD = document.getElementById("doughnutChart").getContext('2d');
var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
        labels: ["xxxxx : 37.5%", "xxxxxxxx : 25%", "xxxxxxxxxxxxx : 37.5%", "xxxxxxxxxxxx: 25%"],
        datasets: [
            {
                data: [100, 60, 120, 150],
                backgroundColor: ["#75dfc8", "#efc318", "#e37e24", "#25b999"],
                hoverBackgroundColor: ["#75dfc8", "#efc318", "#e37e24", "#25b9995"]
            }
        ]
    },
    options: {
        responsive: true
    }    
});
	</script>
</body>
</html>